.bg-cover{
	object-fit:cover;
	height:150px; 
	width: 350px
}
.blog-content-row{
	border: 1px solid #cc8e51;
	padding: 15px;
	border-radius: 5px;
	transition: 0.25s all ease-in
}
.blog-content-row:hover{
	transform: translateY(-5px)
}
.blog-content span,
.single-blog span{
	font-size: 12px;
	color: white;
	font-style: italic;
}

.single-blog p{
	color: white
}